<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <title>An even better quiz</title>
</head>

<body>

  <div id="currentQuestion">

    <div v-for="(question, index) in questions" :key="question">
      <h2>{{ question.text }}</h2>
      <input type="radio" name="radio" :id="'question_' + question.id" value="0" v-model="item.checkedAnswer[index]">
      <label for="a1">{{ question.answers[0] }}</label>


      <input type="radio" name="radio" :id="'question_' + question.id" value="1" track-by='$index' v-model="item.checkedAnswer[index]">
      <label for="a2">{{ question.answers[1] }}</label>


      <input type="radio" name="radio" :id="'question_' + question.id" @input="handleChange" value="2" v-model="item.checkedAnswer[index]">
      <label for="a3">{{ question.answers[2] }}</label>


      <input type="radio" name="radio" :id="'question_' + question.id" value="3" v-model="item.checkedAnswer[index]">
      <label for="a4">{{ question.answers[3] }}</label>

      <span> Checked answer: {{ item.checkedAnswer }}</span>
      <br>

    </div>
    <div>



    </div>
  </div>
  <button @click="submitAnswer">Check Answers</button>

  <script>
    const currentQuestion = new Vue({

      el: "#currentQuestion",
      data: {
        questions: [{

            "text": "How long was the Second World War?",
            "answers": ["3 Years", "4 Years", "5 Years", "6 Years"],
            "solution": 3

          },
          {
            "text": "whatever",
            "answers": ["asdfasdf", "asdfa", "asdfasdf", "dsfsd"],
            "solution": 1
          }
        ],


        item: {
          checkedAnswer: [],
        },

        handleChange: () => {
          item.checkedAnswer = item.map((item) => {
            return questions[item];
          })
        }
      }
    })

    // submitAnswer(e) {
    //   this.checkedAnswer = e.answer;

    // }


    //v-if="item.checkedAnswer === question.solution(index) "> Well done!
    //

    // mounted() {
    // this.id = this._uid
    // }
    // id: {
    // _uid
    // }

    //v-bind:id="`${question.index}`" v-bind:value="{ text: `${question.answer[0]` }"

    // {
    // text: "What year during the Nazi-Regime did Germany host the Olympics?",
    // answers: ["1933", "1936", "1929", "1950"]
    // }


    // mounted() {
    // this.id = this._uid
    // },
    // console.log(checkedAnswer);


    // Vue.component('radio_buttons', {
    //   data: function () {
    //     return {
    //       count: 0
    //     }
    //   },
    //   template: '<input type="radio" name="radio" id="a1" value="a1">'

    // const quiz = new Vue({

    //     el:"#app",
    //     data: {
    //       questions:{ "How long was the Second World War?", a1:"3 Years", a2:"4 Years", a3:"5 Years", a5:"6 Years",
    // q:"What year during the Nazi-Regime did Germany host the Olympics?", a1:"1933", a2:"1936", a3:"1929", a4:"1950"}, 


    //     },

    // }

    // )
  </script>


</body>

</html>