<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <title>An even better quiz</title>
</head>

<body>

  <div id="currentQuestion">

    <div v-for="(question, index) in questions" :key="question">
      <h2>{{ question.text }}</h2>
      <input type="radio" :name="'radio' + question.id" :id="'question_' + question.id" value="0" v-model="item.checkedAnswer[question.id-1]">
      <label for="a1">{{ question.answers[0] }}</label>


      <input type="radio" :name="'radio' + question.id" :id="'question_' + question.id" value="1" v-model="item.checkedAnswer[question.id-1]">
      <label for="a2">{{ question.answers[1] }}</label>


      <input type="radio" :name="'radio' + question.id" :id="'question_' + question.id" value="2" v-model="item.checkedAnswer[question.id-1]">
      <label for="a3">{{ question.answers[2] }}</label>


      <input type="radio" :name="'radio' + question.id" :id="'question_' + question.id" value="3" v-model="item.checkedAnswer[question.id-1]">
      <label for="a4">{{ question.answers[3] }}</label>


      <br>

    </div>
    <br>
    <br>
    <span v-show="low"> You got {{ numCorrect }} out of {{ questions.length }} right. Try harder!</span>
    <span v-show="medium"> You got {{ numCorrect }} out of {{ questions.length }} right. Not too bad but try
      again!</span>
    <span v-if="high"> You got {{ numCorrect }} out of {{ questions.length }} right. Very good!</span>



    <br>
    <button @click="submitAnswer">Check Answers</button>
    <br>
  </div>

  <script>
    // Vue.config.devtools = true
    new Vue({

      el: "#currentQuestion",
      data: {
        low: "",
        medium: "",
        high: "",
        questions: [{
            id: 1,
            text: "How long was the Second World War?",
            answers: ["3 Years", "4 Years", "5 Years", "6 Years"],
          },
          {
            id: 2,
            text: "Which country was first to enter Berlin in combat?",
            answers: ["France", "United States", "Russia", "England"],
          }, {
            id: 3,
            text: "When did the WW2 start?",
            answers: ["1914", "1945", "1939", "1960"],
          }, {
            id: 4,
            text: "What year during the Nazi-Regime did Germany host the Olympics?",
            answers: ["1933", "1936", "1929", "1950"],
          },
          {
            id: 5,
            text: "Approximately, how many Jews lost their lives in concentration camps during the Nazi-regime",
            answers: ["50000", "800000", "1000000", "6000000"]
          }, {
            id: 6,
            text: "Who of the following persons was the chief of propanda and the right hand of Adolf Hitler?",
            answers: ["Joseph Goebbels", "Hermann Goering", "Friedrich Himmler", "Erwin Rommel"]
          }, {
            id: 7,
            text: "Of all countries particpating in the WW2 which of the following countries experienced the heighest amount of causulties in absolute numbers?",
            answers: ["Germany", "Italy", "Russia", "United States"]
          }, {
            id: 8,
            text: "After the siege of Germany Berlin was divided into sectors each assigned to one ally. How many sectors were there?",
            answers: ["2", "3", "4", "6"]
          },
          {
            id: 9,
            text: "Which country was first attacked by German forces in the beginning of WW2?",
            answers: ["Netherlands", "France", "England", "Poland"]
          },
          {
            id: 10,
            text: "Who was the leader of Japan during WW2?",
            answers: ["Mao Zedong", "Emperor Meiji", "Emperor Hirohito", "Shinzo Abe"]
          },
          {
            id: 11,
            text: "How did Adolf Hitler die?",
            answers: ["Commit sucide", "Killed in combat", "Heart attack", "Natural death"]
          },
          {
            id: 12,
            text: "What day was D-day?",
            answers: ["8 August 1944", "6 June 1944", "6 August 1944", "8 Mai 1943"]
          },
          {
            id: 13,
            text: "Which area in France was first sieged by the United States forces?",
            answers: ["La Cote D'Azur", "Normandy", "Languedoc", "Riviera"]
          },
          {
            id: 14,
            text: "Which country helped Germany invade Poland?",
            answers: ["Romania", "Soviet Union", "Ukraine", "Netherlands"]
          },
          {
            id: 15,
            text: "Who was the president at the start of WWII?",
            answers: ["Harry Truman", "Dwight Eisenhower", "Barack Obama", "Franklin Roosevelt"]
          },
          {
            id: 16,
            text: "Which event led the U.S. to enter WWII?",
            answers: ["Sinking of the Lusitania", "Attack on Pearl Habour", "Bombing of London",
              "German concentration camps"
            ]
          },
          {
            id: 17,
            text: "Who was the leader of the Soviet Union during WW2?",
            answers: ["Joseph Stalin", "Karl Marx", "Vladimir Lenin", "Vladimir Putin"]
          },
          {
            id: 18,
            text: "Which of the following countries remained neutral during the war?",
            answers: ["Netherlands", "Spain", "France", "Italy"]
          },
          {
            id: 19,
            text: "What did the United States do to some Japanese-American citizens during the war?",
            answers: ["Exil them to Hawaii", "Sent them to internment camps",
              "Forced them to register as terrists", "Killed them"
            ]
          },
          {
            id: 20,
            text: "What were Japanese suicide bombers called?",
            answers: ["Kaiten", "Bushido", "Kamikaze", "Nain"]
          },

        ],
        solutions: [3, 2, 2, 1, 3, 0, 2, 2, 3, 2, 0, 1, 1, 1, 1, 1, 0, 1, 0, 2],

        item: {
          checkedAnswer: [],
        },

        numCorrect: 0,
      },

      methods: {
        handleChange: function () {
          function mark(item, index) {
            if (item == this.solutions[0]) {
              this.numCorrect++
            }
            console.log(this.numCorrect)
          }

          return this.item.checkedAnswer.map(mark)
        },
        mark: function (item, index) {


          if (item == this.solutions[index]) {
            this.numCorrect++
          }
        },
        submitAnswer: function () {


          this.item.checkedAnswer.map(this.mark)



          if (this.numCorrect <= 10) {
            this.low = "true"

          }
          if (this.numCorrect >= 11 && this.numCorrect <= 15) {
            this.medium = "true"

          }
          if (this.numCorrect >= 15 && this.numCorrect <= 20) {

            this.high = "true"
          }
          console.log(this.numCorrect);





        }
      }
    })

    // submitAnswer(e) {
    //   this.checkedAnswer = e.answer;

    // }


    //v-if="item.checkedAnswer === question.solution(index) "> Well done!
    //

    // mounted() {
    // this.id = this._uid
    // }
    // id: {
    // _uid
    // }

    //v-bind:id="`${question.index}`" v-bind:value="{ text: `${question.answer[0]` }"

    // {
    // text: "What year during the Nazi-Regime did Germany host the Olympics?",
    // answers: ["1933", "1936", "1929", "1950"]
    // }


    // mounted() {
    // this.id = this._uid
    // },
    // console.log(checkedAnswer);


    // Vue.component('radio_buttons', {
    //   data: function () {
    //     return {
    //       count: 0
    //     }
    //   },
    //   template: '<input type="radio" name="radio" id="a1" value="a1">'

    // const quiz = new Vue({

    //     el:"#app",
    //     data: {
    //       questions:{ "How long was the Second World War?", a1:"3 Years", a2:"4 Years", a3:"5 Years", a5:"6 Years",
    // q:"What year during the Nazi-Regime did Germany host the Olympics?", a1:"1933", a2:"1936", a3:"1929", a4:"1950"}, 


    //     },

    // }

    // )
  </script>


</body>

</html>